/*FormulariosSuscripcionGeneral:Posicion de los formularios general, aplica a todos los HTMLs */

@import "variables";


.casillasSus {
    grid-area: casillasSus;
    background-color: $colorFondoCasillaSus;
    display: flex;
    align-items: center;
    /* Ordena en el centro del eje X*/
    justify-content: space-around;
    /*distribuye los elementos dentro de la caja section en el eje x*/
    transition: all 1s;
    border-radius: 2rem;


    /*Cambia color de la casilla suscripcion */
    &:hover {
        background-color:$colorFondoCasillaSusMouse;
        font-size: 20px;
        color:$colorLetraFormuladrioMouse;
    }

    /*Agregan margen entre titulo y casilla de form*/
    form p {
        background-color: $colorFondoTituloSus;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        color: $colorFondoLetra;
        max-width: 50rem;
    }

}


/*FooterGeneral:Se ordena los elementos de forma general en todas las paginas de HTML*/
.contacto {
    grid-area: contacto;
    background-color:$colorfondoContactos;
    display: flex;
    flex-direction: column;
    /*Ordena en columna texto-Contactos y enlaces*/
    justify-content: center;
    /* Ordena en el centro del eje Y texto-Contactos y enlaces*/
    align-items: center;
    /* Ordena en el centro del eje X texto-Contactos y enlaces*/
    border-radius: 2rem;
    transition: all 2s;

    /*Cambia margen de la casilla contacto y modifica titulo "contacto" al posicionar mouse sobre la casilla*/
    &:hover {
        margin-left: 90px;
        margin-right: 90px;

        h3 {
            font-size: 40px;
            border: 0.5rem solid $colorBordeContactosMouse;
        }
    }

    /*Cambia color y posicion del titulo de la casiila contactos*/
    h3 {
        color: $colorTituloContactos;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: all 1s;

    }

    /*Se ordena los elementos de enlace*/
    .enlacesContacto {
        display: flex;
        justify-content: space-around;
        /*distribuye los elementos dentro de la caja section en el eje x*/



        /*Se utiliza para agrandar espacio entre los enlaces*/
        div {
            display: flex;
            margin-inline-end: 2rem;
            padding-left: 6rem;
            /*++espacio a la der.,valida space around de .enlacesContacto*/
            padding-right: 6rem;
            /*++espacio a la izq., valida space around de .enlacesContacto*/
            background-color:$colorBotonContactos;
            border-radius: 2rem;
            margin: 2rem;
            transition: all 2s;



            &:hover {
                background-color: $colorBotonMouse;
                padding-left: 0.1rem;
                $redes: (boton1: $colorBotonFacebookMouse,
                        boton2:$colorBotonWhassapMouse,
                        boton3:$colorBotonMailMouse,
                    );

                /*Logra efecto de sombreado en iconos*/
                @each $red,
                $color in $redes {
                    .#{$red} {
                        background-color: $color;
                        border-radius: 15px;
                    }
                }
            }
        }

    }
}
/***********************MEDIA QUERIES******************************************/
/*************************Celulares******************************************/
