/*FormulariosSuscripcionGeneral:Posicion de los formularios general, aplica a todos los HTMLs */
.casillasSus {
    grid-area: casillasSus;
    background-color: rgb(144, 190, 109);
    display: flex;
    align-items: center;
    /* Ordena en el centro del eje X*/
    justify-content: space-around;
    /*distribuye los elementos dentro de la caja section en el eje x*/
    transition: all 1s;
    border-radius: 2rem;

    /*Cambia color de la casilla suscripcion */
    &:hover {
        background-color: rgb(73, 112, 112);
        font-size: 20px;
        color: #ffffff;
    }

    /*Agregan margen entre titulo y casilla de form*/
    form p {
        background-color: rgb(73, 112, 112);
        margin-bottom: 1rem;
        border-radius: 1rem;
        color: aliceblue;
    }

}


/*FooterGeneral:Se ordena los elementos de forma general en todas las paginas de HTML*/
.contacto {
    grid-area: contacto;
    background-color: rgb(87, 117, 144);
    display: flex;
    flex-direction: column;
    /*Ordena en columna texto-Contactos y enlaces*/
    justify-content: center;
    /* Ordena en el centro del eje Y texto-Contactos y enlaces*/
    align-items: center;
    /* Ordena en el centro del eje X texto-Contactos y enlaces*/
    border-radius: 2rem;
    transition: all 2s;

    /*Cambia margen de la casilla contacto posicionar mouse sobre la casilla*/
    &:hover {
        margin-left: 170px;
        margin-right: 170px;
    }

    /*Cambia color y posicion del titulo de la casiila contactos*/
    h3 {
        color: aliceblue;
        justify-content: center;
        align-items: center;


    }
}



/*Se ordena los elementos de enlace*/
.enlacesContacto {
    display: flex;
    justify-content: space-around;
    /*distribuye los elementos dentro de la caja section en el eje x*/



    /*Se utiliza para agrandar espacio entre los enlaces*/
    div {
        display: flex;
        padding-left: 6rem;
        /*++espacio a la der.,valida space around de .enlacesContacto*/
        padding-right: 6rem;
        /*++espacio a la izq., valida space around de .enlacesContacto*/
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;


    }

}