/*Reset CSS*/
@import "variables";

* {
    padding: 0;
    margin: 0;
}
/*Aplica tamaño para utilizar rem en todas las*/
html{
    font: size 20px;
    }

/*Configuracion general del color de las paginas html*/
body {
    background-color:$colorFondoPantalla;
}
/*Configura margen de footer*/
footer{
    margin-top: 2rem;
    margin-bottom: 0;
    
        
}
