@import "variables";



/****GRID PRODUCTOS*****/
#gridAreaProductos{
    display: grid;
    grid-template-areas:
        "notificacion notificacion notificacion notificacion"
        "logo navegacion  navegacion navegacion"
        "tituloProductos tituloProductos tituloProductos tituloProductos"
      "casillasSus casillasSus casillasSus  casillasSus"      
        "contacto contacto contacto contacto";
    grid-template-columns: 2fr 2fr 2fr 1fr;
    /*Configura tamaño columnas*/
    grid-template-rows:  0.1fr 0.1fr 6fr 0.01fr;
    /*Configura tamaño filas*/
    gap: 20px 20px;
    /*Configura tamaño margenes*/
}


.principal{
    grid-area: tituloProductos;
    h1{
        display: flex;
        background-color: $colorFondoTitulo ;
        justify-content: center;
        margin-top: 2rem;
        color: $colorTitulo;
        font-size: 5rem;
        border-top: 1rem dotted $colorBordeTitulo ;
        border-bottom: 1rem dotted $colorBordeTitulo ;
    }

}




.carousel-item{
    max-height: 30rem;
}


.listaNavegacion{
    grid-area: navegacion;
    display: flex;
    
    
}



/*Se modifica atributos del apartado productos, posicion*/
.listaProductos{
    grid-area: lista;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 2rem;
}
/***********************MEDIA QUERIES******************************************/
/*************************Celulares******************************************/
/*Se modifican posicion de los elementos para que queden acomodados en forma vertical*/


/*****PAGINA PRODUCTOS*****/
@media screen and (max-width:600px) {
    #gridAreaProductos{
       grid-template-columns: 1fr; 
     grid-template-areas:
        "notificacion"
        "navegacion"
        "lista"
       "casillasSus"
        "contacto";
    }

    
    .listaNavegacion{
    flex-direction: column;
    margin-left: 0%;
    justify-content: center;   
 }
 .casillasSus{
     flex-direction: column;
 }

 .enlacesContacto{
     flex-direction: column;
 }
 .enlacesContacto div{
    margin-top: 20px;
}
}