@import "variables";



/****GRID GUIA*****/
#gridAreaGuia {
    display: grid;
    grid-template-areas:
        "notificacion notificacion"
        "logo navegacion"
        "textoImagen textoImagen"
        "casillasSus casillasSus"
        "contacto contacto";
        grid-template-columns: 0.5fr 1fr;
        /*Configura tamaño columnas*/
        grid-template-rows: 1fr 2fr 2fr 2fr 2f 2f;
        /*Configura tamaño filas*/
        gap: 10px 10px;
        /*Configura tamaño margenes*/
}

/*Caja que conforma el area de texto, imagenes de la pagina guia e imagen de*/
.textoImagenesGuia {
    grid-area: textoImagen;
    display: flex;
    flex-direction: column;

    background-image:url(../multimedia/fondoGuia.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    
    h1{ 
        display: flex;
        background-color: $colorFondoTitulo ;
        justify-content: center;
        margin-top: 2rem;
        color: $colorTitulo;
        font-size: 5rem;
        border-top: 1rem dotted $colorBordeTitulo ;
        border-bottom: 1rem dotted $colorBordeTitulo ;
    }
}

/*cambia posicion entre caja de texto e imagen*/
.textoImagenInvertido {
    display: flex;
    margin-top: 5rem;
    flex-direction: row-reverse;
    margin-left: 40%;
    align-content: center;
}

/*Modifica atributos generales de la seccion caja de texto e imagen de la pagina guia*/
.textoImagen {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 3rem;
    max-width: 50%;


}
.cajaTexto1 {
    @extend .textoImagen;
    background-color: $colorCasillaTexto1;
    transition: all 1s;


    &:hover {
        font-size: 105%;
        border: 0.5rem solid $colorBordeCasillaTexto;

    }

}

.cajaTexto2 {
    @extend .textoImagenInvertido;
    background-color: $colorCasillaTexto2;
    transition: all 1s;

    &:hover {
        font-size: 105%;
        border: 0.5rem solid $colorBordeCasillaTexto;

    }

}


.cajaTexto3 {
    @extend .textoImagen;
    background-color: $colorCasillaTexto3;
    transition: all 1s;

    &:hover {
        font-size: 105%;
        border: 0.5rem solid $colorBordeCasillaTexto;
        ;
    }

}


/***********************MEDIA QUERIES******************************************/
/*************************Celulares******************************************/
/*Se modifican posicion de los elementos para que queden acomodados en forma vertical*/




/*****PAGINA GUIA*****/
@media screen and (max-width:900px) {
    #gridAreaGuia {
        grid-template-columns: 1fr;
        grid-template-areas:
                "logo"
            "notificacion"
            "navegacion"
            "textoImagen"
            "casillasSus"
            "contacto";
    }

    /*Desahabilita el cartel de alerta*/
    .alerta{
        display: none;
    }

    .listaNavegacion {
        flex-direction: column;
        margin-left: 0%;
        justify-content: center;
    }

     .casillasSus {
        flex-direction: column;
    }

    .enlacesContacto {
        flex-direction: column;
    }

    .enlacesContacto div {
        margin-top: 20px;
    }
}