@import "variables";
@mixin colorDeFondo($colorDeFondo){
    background-color:$colorDeFondo ;

}



/*Configura "la alerta de notificaciones" aplica a todos los HTML*/


.alerta {
    @include colorDeFondo($colorAlerta);
    grid-area: notificacion;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    color: $colorLetraAlerta;
    font-family: 'Fredoka', sans-serif;
    border-bottom: 0.5rem  $colorBordeAlerta dashed ;
    overflow:hidden;

   
    div{

        animation-name: movimientoAlerta;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 20s;
        animation-delay:0.1s;
        /*Pausa animacion al posicionar mouse*/
        &:hover{
            animation-play-state:paused;
    -webkit-animation-play-state:paused;
        }
        
       
    
        @keyframes movimientoAlerta{
            0% {transform: translateX(-60rem);}
            100% {transform: translateX(150rem)}
 

        }
        
    }

}

.logoYnavegacion{
    display: flex;
}

/*Configura logo*/
.logo{
    grid-area: logo;
    display: flex;
    border-radius: 5rem;
    width: 350px;
    height: auto;
   border: 1rem outset;
   margin: auto;
   transition: all 2s;
   &:hover{
       border-style: inset;
       
   }   
    
 }

/*Configura lista de navegacion aplica a todos los HTML*/
.listaNavegacion {
    
    grid-area: navegacion;
    /*agrega una imagen de fondo*/
    background-image: url(../multimedia/snack-conjunto.jpeg);
    border: $colorBordeNavegacion solid;
    display: flex;
    justify-content: space-around;
    /*distribuye elementos de forma igualitaria*/
    align-items: center;
    /*posiciona el texto de manera central en el eje Y*/
    border-radius: 1rem;
    

    /*Elimina el subrayado en los enlaces de la lista de navegacion*/
    a {
        color: $colorLetraNav;
         text-decoration: none;
        font-size: 20px;
        font-family: 'Fredoka', sans-serif;
        margin: 1rem;
        transition: all 0.5s;
        &:hover {
            background-color: $colorLetraFondoMouse;
            border-radius: 20px;
            color: $colorLetraMouse;
        }

    }

    /*Agrega fondo y borde a cada uno de los elementos de la barra de navegacion*/
    div {

        
        background-color: $colorBotonNav;
        border: 0.1rem solid $colorBordeBotonNav;
        /*configuracion del borde*/

        transition: all 0.5s;
        /*cambia el formato del boton al seleccionarlo*/
        &:hover {
            background-color:$colorBotonNavMouseCostado;
            border-radius: 20px;
        }
     
    }

}