

/******COLORES****************/

/******ELEMENTOS COMPARTIDOS EN TODAS LAS PAGINAS*****//************//************/

/*Color de fondo de pantalla*/
$colorFondoPantalla:#f73131c2;

/******FOOTER*********************************************************************/

/*Colores:Footer-Casilla suscripcion*/
$colorFondoCasillaSus:#BCB8B1;
$colorFondoCasillaSusMouse:#000000;
$colorLetraFormuladrioMouse:rgb(228, 228, 228);
$colorFondoTituloSus:rgb(54, 47, 47);
$colorFondoLetra:rgb(234, 234, 251);

/**Colores:Footer-Contactos*/
$colorfondoContactos:#BCB8B1;

/**Colores:Footer-Casilla contactos-titulo*/
$colorBordeContactosMouse:rgb(255, 255, 255);
$colorTituloContactos:aliceblue;

/*Colores:Footer-Contactos-botones*/
$colorBotonMouse:rgb(84, 84, 84);
$colorBotonContactos:rgb(255, 255, 255);

/*Colores:Footer-Contactos-botones-Color de sombreado de iconos al seleccionar con el Mouse*/
$colorBotonFacebookMouse:blue;
$colorBotonWhassapMouse:green;
$colorBotonMailMouse:orange;
/****** FINAL FOOTER   *****************************/


/********  NAV   ************************************************************************/

/*Colores: NAV- Cartel de Alerta*/
$colorAlerta:#DD614A;
$colorLetraAlerta:rgb(255, 255, 255);
$colorBordeAlerta:#4392F1;

/*Colores: NAV- Barra de navegacion*/
$colorBordeNavegacion:#4392F1 ;
$colorLetraNav: rgb(0, 0, 0);
$colorLetraMouse:white;
$colorBotonNav:#85bcfe;
$colorBordeBotonNav:black;
$colorLetraFondoMouse:#4392F1;
$colorBotonNavMouseCostado:#BCB8B1;
/****** FINAL NAV   *****************************/

/********************************************************************************/
/*SECCIONES SITIO WEB*/
/********************************************************************************/

/*INDEX*/
$colorBordeDescripcionVideo:#456990;
$colorTextoVideo:#85bcfe;
$colorTextoVideoMouse: #b1ccec;
$colorBordePuntos:#4392F1;
/****** FINAL INDEX *****************************/

/*GUIA DE COMPRA*/
$colorCasillaTexto1:#c7a5a5;
$colorCasillaTexto2:#a22a2a;
$colorCasillaTexto3:#520e0e;
$colorBordeCasillaTexto:rgb(253, 250, 250);
/****** FINAL GUIA DE COMPRA *****************************/