

/******COLORES****************/

/******ELEMENTOS COMPARTIDOS EN TODAS LAS PAGINAS*****//************//************/

/*Color de fondo de pantalla*/
$colorFondoPantalla:#dfbd9f8c;

/******FOOTER*********************************************************************/

/*Colores:Footer-Casilla suscripcion*/
$colorFondoCasillaSus:#c5beb1;
$colorFondoCasillaSusMouse:#a7a092;
$colorLetraFormuladrioMouse:rgb(228, 228, 228);
$colorFondoTituloSus:#a7a092;
$colorFondoLetra:rgb(234, 234, 251);

/**Colores:Footer-Contactos*/
$colorfondoContactos:#c5beb1;

/**Colores:Footer-Casilla contactos-titulo*/
$colorBordeContactosMouse:#dd614ac4;
$colorTituloContactos:aliceblue;

/*Colores:Footer-Contactos-botones*/
$colorBotonMouse:rgb(84, 84, 84);
$colorBotonContactos:rgb(255, 255, 255);

/*Colores:Footer-Contactos-botones-Color de sombreado de iconos al seleccionar con el Mouse*/
$colorBotonFacebookMouse:blue;
$colorBotonWhassapMouse:green;
$colorBotonMailMouse:orange;
/****** FINAL FOOTER   *****************************/


/********  NAV   ************************************************************************/

/*Colores: NAV- Cartel de Alerta*/
$colorAlerta:#DD614A;
$colorLetraAlerta:rgb(255, 255, 255);
$colorBordeAlerta:#dfbd9f8c;

/*Colores: NAV- Barra de navegacion*/
$colorBordeNavegacion:#ec4c30c4 ;
$colorLetraNav: rgb(255, 255, 255);
$colorLetraMouse:rgb(53, 51, 51);
$colorBotonNav:#dd614ac4  ;
$colorBordeBotonNav:#f06850c4;
$colorLetraFondoMouse:#dd614ac4;
$colorBotonNavMouseCostado:#BCB8B1;
/****** FINAL NAV   *****************************/

/********************************************************************************/
/*SECCIONES SITIO WEB*/
/********************************************************************************/

/*INDEX*/
$colorBordeDescripcionVideo:#c5beb1;
$colorTextoVideo:#dd614ac4;
$colorTextoVideoMouse: #c5beb1;
$colorBordePuntos:#dd614ac4;
/****** FINAL INDEX *****************************/

/*GUIA DE COMPRA*/
$colorBordeCasillaTexto:#0d6efd;
$colorFondoTitulo:#dd614ac4;
$colorTitulo: white;
$colorBordeTitulo:#c5beb1;
$colorCasillaTexto1:#dd614ac4 ;
$colorCasillaTexto2:#c5beb1 ;
$colorCasillaTexto3:#dd614ac4 ;
/****** FINAL GUIA DE COMPRA *****************************/