@charset "UTF-8";
/*Configura "la alerta de notificaciones" aplica a todos los HTML*/
.alerta {
  background-color: #f94144;
  grid-area: notificacion;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  font-family: 'Fredoka', sans-serif;
  border-bottom: 0.5rem #f78b8b dashed; }

/*Configura logo*/
.logo {
  grid-area: logo;
  display: flex;
  border-radius: 5rem;
  width: 350px;
  height: auto;
  border: 1rem outset;
  margin: auto; }

/*Configura lista de navegacion aplica a todos los HTML*/
.listaNavegacion {
  grid-area: navegacion;
  /*agrega una imagen de fondo*/
  background-image: url(../multimedia/snack-conjunto.jpeg);
  display: flex;
  justify-content: space-around;
  /*distribuye elementos de forma igualitaria*/
  align-items: center;
  /*posiciona el texto de manera central en el eje Y*/
  border-radius: 1rem;
  /*Elimina el subrayado en los enlaces de la lista de navegacion*/
  /*Agrega fondo y borde a cada uno de los elementos de la barra de navegacion*/ }
  .listaNavegacion a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    margin: 1rem;
    transition: all 0.5s; }
    .listaNavegacion a:hover {
      background-color: #df9393;
      border-radius: 20px;
      color: white; }
  .listaNavegacion div {
    background-color: #fff9f9;
    border: 0.1rem solid #000000;
    /*configuracion del borde*/
    transition: all 0.5s;
    /*cambia el formato del boton al seleccionarlo*/ }
    .listaNavegacion div:hover {
      background-color: #9999ce;
      border-radius: 20px; }

/*Reset CSS*/
* {
  padding: 0;
  margin: 0; }

/*Configuracion general del color de las paginas html*/
body {
  background-color: #f9c74f; }

/*FormulariosSuscripcionGeneral:Posicion de los formularios general, aplica a todos los HTMLs */
.casillasSus {
  grid-area: casillasSus;
  background-color: #90be6d;
  display: flex;
  align-items: center;
  /* Ordena en el centro del eje X*/
  justify-content: space-around;
  /*distribuye los elementos dentro de la caja section en el eje x*/
  transition: all 1s;
  border-radius: 2rem;
  /*Cambia color de la casilla suscripcion */
  /*Agregan margen entre titulo y casilla de form*/ }
  .casillasSus:hover {
    background-color: #497070;
    font-size: 20px;
    color: #ffffff; }
  .casillasSus form p {
    background-color: #497070;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: aliceblue; }

/*FooterGeneral:Se ordena los elementos de forma general en todas las paginas de HTML*/
.contacto {
  grid-area: contacto;
  background-color: #577590;
  display: flex;
  flex-direction: column;
  /*Ordena en columna texto-Contactos y enlaces*/
  justify-content: center;
  /* Ordena en el centro del eje Y texto-Contactos y enlaces*/
  align-items: center;
  /* Ordena en el centro del eje X texto-Contactos y enlaces*/
  border-radius: 2rem;
  transition: all 2s;
  /*Cambia margen de la casilla contacto posicionar mouse sobre la casilla*/
  /*Cambia color y posicion del titulo de la casiila contactos*/ }
  .contacto:hover {
    margin-left: 90px;
    margin-right: 90px; }
  .contacto h3 {
    color: aliceblue;
    justify-content: center;
    align-items: center; }

/*Se ordena los elementos de enlace*/
.enlacesContacto {
  display: flex;
  justify-content: space-around;
  /*distribuye los elementos dentro de la caja section en el eje x*/
  /*Se utiliza para agrandar espacio entre los enlaces*/ }
  .enlacesContacto div {
    display: flex;
    margin-inline-end: 2rem;
    padding-left: 6rem;
    /*++espacio a la der.,valida space around de .enlacesContacto*/
    padding-right: 6rem;
    /*++espacio a la izq., valida space around de .enlacesContacto*/
    background-color: white;
    border-radius: 2rem;
    transition: all 2s; }
    .enlacesContacto div:hover {
      background-color: black;
      padding-left: 0.1rem; }

.boton1 {
  background-color: blue;
  margin: 10px;
  border-radius: 180px;
  border-color: #e10c0c;
  align-content: center;
  text-transform: uppercase;
  text-decoration: #bfbfbf; }

.boton2 {
  background-color: green;
  margin: 10px;
  border-radius: 180px;
  border-color: #e10c0c;
  align-content: center;
  text-transform: uppercase;
  text-decoration: #bfbfbf; }

.boton3 {
  background-color: #8778ca;
  margin: 10px;
  border-radius: 180px;
  border-color: #e10c0c;
  align-content: center;
  text-transform: uppercase;
  text-decoration: #bfbfbf; }

/****GRID INDEX*****/
#gridAreaIndex {
  display: grid;
  grid-template-areas: "notificacion notificacion notificacion notificacion" "logo navegacion  navegacion navegacion" "bloqueTexto bloqueTexto  video video" "borde borde borde borde"   "casillasSus casillasSus casillasSus  casillasSus" "contacto contacto contacto contacto";
  grid-template-columns: 1fr 1fr 1.8fr 0.3fr;
  /*Configura tamaño columnas*/
  grid-template-rows: 0.2fr 0.2fr 1.3fr 0.5fr 1fr 1fr;
  /*Configura tamaño filas*/
  gap: 10px 10px;
  /*Configura tamaño margenes*/ }

.borde {
  grid-area: borde;
  border-bottom: 1rem dotted black; }

/*Index_TextoDescripcion:Centraliza y agrega atributos al texto de video*/
.descripcionVideo {
  grid-area: bloqueTexto;
  display: flex;
  background-color: #f8961e;
  padding: 1.5rem;
  /*Configuracion padding(distancia entre letra y padding)*/
  font-size: 1rem;
  /*tamaño de la letra*/
  font-family: 'Courier New', Courier, monospace;
  /*fuente de letra*/
  font-style: italic;
  /*Letra cursiva*/
  border: 0.1rem solid #000000;
  /*tamaño y color del border*/
  align-items: center;
  /*Centraliza texto en el box*/
  margin-left: 2rem;
  /*agrega margen a la izquierda*/
  margin-bottom: 5rem;
  /*agrega margen inferior*/
  margin-top: 2rem;
  /*agrega margen superior*/
  border-radius: 1.5rem;
  transition: all 1s; }
  .descripcionVideo:hover {
    background-color: white;
    /*Cambiar de color el recuadro de texto al posicionar el mouse*/
    font-size: 1.5rem;
    visibility: hidden; }

/*Index_video:Centraliza y agrega atributos a video de youtube*/
.videoPrincipal {
  grid-area: video;
  display: flex;
  justify-content: center;
  width: 560;
  height: 315;
  /*Centraliza video*/ }

/***********************MEDIA QUERIES******************************************/
/*************************Celulares******************************************/
/*Se modifican posicion de los elementos para que queden acomodados en forma vertical*/
/*****PAGINA INDEX*****/
@media screen and (max-width: 600px) {
  #gridAreaIndex {
    grid-template-columns: 2fr;
    grid-template-columns: 2fr;
    grid-template-columns: 2fr;
    grid-template-columns: 2fr;
    grid-template-columns: 2fr;
    grid-template-columns: 2fr;
    grid-template-columns: 2fr;
    grid-template-areas: "logo"     "notificacion" "navegacion" "video" "bloqueTexto" "casillasSus" "contacto"; }
  /*Canmbia tañano de letra de cartel de alerta*/
  .logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    border-radius: 5rem;
    width: 300px;
    height: auto;
    border: 1rem outset;
    align-items: center;
    justify-content: center;
    margin: auto; }
  /*Pone la lista de navegacion centralizado y en columna*/
  .listaNavegacion {
    flex-direction: column;
    margin-left: 0%;
    justify-content: center; }
  .videoPrincipal {
    flex-direction: column;
    justify-content: center;
    width: 160;
    height: 15; }
  /* coloca las casilla en forma de columna*/
  .casillasSus {
    flex-direction: column; }
  /*coloca los enlace en forma de columna, cuando se selecciona un boton, se cambia de color*/
  .enlacesContacto {
    flex-direction: column; }
    .enlacesContacto div {
      transition: 0s;
      /**/ }
      .enlacesContacto div:hover {
        background-color: #000000; } }

/****GRID GALERIA*****/
#gridAreaGaleria {
  display: grid;
  grid-template-areas: "notificacion notificacion notificacion notificacion" "logo navegacion  navegacion navegacion" "imagenes imagenes  imagenes imagenes" "casillasSus casillasSus casillasSus  casillasSus" "contacto contacto contacto contacto";
  grid-template-columns: 0.5fr 0.1fr 1.8fr 0.3fr;
  /*Configura tamaño columnas*/
  grid-template-rows: 0.07fr 0.07fr 0.5fr 0.2fr 0.11fr;
  /*Configura tamaño filas*/
  gap: 10px 10px;
  /*Configura tamaño margenes*/ }

/*Modifica atributos de las imagenes, del apartado Galeria*/
/*.imagenesGaleria{
    grid-area: imagenes;
    display: flex;
           justify-content: center;
    }*/
.imagenesGaleria img {
  height: 550px;
  width: 500px; }

/***********************MEDIA QUERIES******************************************/
/*************************Celulares******************************************/
/*Se modifican posicion de los elementos para que queden acomodados en forma vertical*/
@media screen and (max-width: 600px) {
  #gridAreaGaleria {
    grid-template-columns: 1fr;
    grid-template-areas: "notificacion" "navegacion" "imagenes" "casillasSus" "contacto"; }
  .listaNavegacion {
    flex-direction: column;
    margin-left: 0%;
    justify-content: center; }
  .casillasSus {
    flex-direction: column; }
  .enlacesContacto {
    flex-direction: column; }
  .enlacesContacto div {
    margin-top: 20px; } }

/****GRID GUIA*****/
#gridAreaGuia {
  display: grid;
  grid-template-areas: "notificacion notificacion notificacion notificacion" "logo navegacion  navegacion navegacion" "textoImagen textoImagen  textoImagen textoImagen" "casillasSus casillasSus casillasSus  casillasSus" "contacto contacto contacto contacto";
  grid-template-columns: 1fr 1fr 1.8fr 0.3fr;
  /*Configura tamaño columnas*/
  grid-template-rows: 0.2fr 0.2fr 1.3fr 0.5fr 1fr;
  /*Configura tamaño filas*/
  gap: 10px 10px;
  /*Configura tamaño margenes*/ }

/*Caja que conforma el area de texto e imagenes de la pagina guia*/
.textoImagenesGuia {
  grid-area: textoImagen;
  display: flex;
  flex-direction: column; }

/*cambia posicion entre caja de texto e imagen*/
.textoImagenInvertido, .cajaTexto2 {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: row-reverse; }

/*Modifica atributos generales de la seccion caja de texto e imagen de la pagina guia*/
.textoImagen, .cajaTexto1, .cajaTexto3 {
  display: flex;
  margin-top: 1.5rem; }

/*Modifica los valores de las cajas de texto en la pagina guia*/
.cajaTexto {
  display: flex;
  background-color: #8f9e7f;
  padding: 1.5rem;
  /*Configuracion padding(distancia entre letra y padding)*/
  font-size: 1rem;
  /*tamaño de la letra*/
  font-family: 'Courier New', Courier, monospace;
  /*fuente de letra*/
  font-style: italic;
  /*Letra cursiva*/
  border: 0.5rem solid #000000;
  /*tamaño y color del border*/
  align-items: center;
  /*Centraliza texto en el box*/
  margin-left: 2rem;
  /*agrega margen a la izquierda*/
  margin-bottom: 5rem;
  /*agrega margen inferior*/
  margin-top: 2rem;
  /*agrega margen superior*/ }

.cajaTexto1 {
  background-color: #383737; }

.cajaTexto2 {
  background-color: #767272; }

.cajaTexto3 {
  background-color: #d5d5d5; }

/***********************MEDIA QUERIES******************************************/
/*************************Celulares******************************************/
/*Se modifican posicion de los elementos para que queden acomodados en forma vertical*/
/*****PAGINA GUIA*****/
@media screen and (max-width: 600px) {
  #gridAreaGuia {
    grid-template-columns: 1fr;
    grid-template-areas: "notificacion" "navegacion" "textoImagen" "casillasSus" "contacto"; }
  .listaNavegacion {
    flex-direction: column;
    margin-left: 0%;
    justify-content: center; }
  .casillasSus {
    flex-direction: column; }
  .enlacesContacto {
    flex-direction: column; }
  .enlacesContacto div {
    margin-top: 20px; } }

/****GRID PRODUCTOS*****/
#gridAreaProductos {
  display: grid;
  grid-template-areas: "notificacion notificacion notificacion notificacion" "logo navegacion  navegacion navegacion" "lista lista  lista lista" "casillasSus casillasSus casillasSus  casillasSus"       "contacto contacto contacto contacto";
  grid-template-columns: 1fr 1fr 1.8fr 0.3fr;
  /*Configura tamaño columnas*/
  grid-template-rows: 0.2fr 0.2fr 1.3fr 0.5fr 1fr;
  /*Configura tamaño filas*/
  gap: 10px 10px;
  /*Configura tamaño margenes*/ }

/*Se modifica atributos del apartado productos, posicion*/
.listaProductos {
  grid-area: lista;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/***********************MEDIA QUERIES******************************************/
/*************************Celulares******************************************/
/*Se modifican posicion de los elementos para que queden acomodados en forma vertical*/
/*****PAGINA PRODUCTOS*****/
@media screen and (max-width: 600px) {
  #gridAreaProductos {
    grid-template-columns: 1fr;
    grid-template-areas: "notificacion" "navegacion" "lista" "casillasSus" "contacto"; }
  .listaNavegacion {
    flex-direction: column;
    margin-left: 0%;
    justify-content: center; }
  .casillasSus {
    flex-direction: column; }
  .enlacesContacto {
    flex-direction: column; }
  .enlacesContacto div {
    margin-top: 20px; } }

/****GRID REPARTO*****/
#gridAreaReparto {
  display: grid;
  grid-template-areas: "notificacion notificacion notificacion notificacion" "logo navegacion  navegacion navegacion" "TextoMapa TextoMapa  Mapa Mapa" "casillasSus casillasSus casillasSus  casillasSus" "contacto contacto contacto contacto";
  grid-template-columns: 1fr 1fr 1.8fr 0.3fr;
  /*Configura tamaño columnas*/
  grid-template-rows: 0.2fr 0.2fr 1.3fr 0.5fr 1fr;
  /*Configura tamaño filas*/
  gap: 10px 10px;
  /*Configura tamaño margenes*/ }

/*Se modifica atributos en el texto de Mapa del HTML reparto*/
.descripcionMapaDeReparto {
  grid-area: TextoMapa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/*Se modifica atributos de la imagen del Mapa del HTML reparto*/
.mapaReparto {
  grid-area: Mapa;
  display: flex; }
  .mapaReparto img {
    height: 450 px;
    width: 450px;
    justify-content: center;
    align-content: center; }

/***********************MEDIA QUERIES******************************************/
/*************************Celulares******************************************/
/*Se modifican posicion de los elementos para que queden acomodados en forma vertical*/
/*****PAGINA REPARTO*****/
@media screen and (max-width: 600px) {
  #gridAreaReparto {
    grid-template-columns: 1fr;
    grid-template-areas: "notificacion" "navegacion" "Mapa" "TextoMapa" "casillasSus" "contacto"; }
  .listaNavegacion {
    flex-direction: column;
    margin-left: 0%;
    justify-content: center; }
  .casillasSus {
    flex-direction: column; }
  .enlacesContacto {
    flex-direction: column; }
  .enlacesContacto div {
    margin-top: 20px; }
  .mapaReparto img {
    height: 350 px;
    width: 350 px;
    justify-content: center;
    align-content: center; } }

/*Bordes a utilizar:
   Solid 
   
   */
